.catalog {
  width: 90%;
  min-height: 100vh;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .catalog-header {
    height: 8rem;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;

    .catalog-header-buttons{
        margin: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
  }

  .catalog-content{
    display: flex;
    min-height: 70vh;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    .catalog-content-text{
        text-align: center;
    }
  }
}
