.edit-form {
  border: 2px solid #b4acac;
  width: 60vw;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 15px -3px #000000;
 
  .edit-form-title {
    font-size: 3rem;
    font-style: italic;
    font-family: "Lobster Two", cursive;
    font-weight: bold;
    color: #0a978e;
  }

  .edit-form-dates-group {
    display: flex;
    justify-content: space-around;

    .edit-form-dates-group-date {
      border: 2px solid #b4acac;
      max-width: 45%;
      border-radius: 0.25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 1.5rem 0;
      padding: 1rem;
      .edit-form-dates-group-date-element {
        margin: 0.25rem;
        width: 100%;
      }
    }
  }

  .edit-form-btn {
    border-radius: 12px;
    width: 10rem;
    background: #278a87;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  .edit-form-detail{
    margin: 1.5rem;
  }
}
