.home {
  width: 100%;
  .home-header {
    width: 100%;
    position: relative;
    .home-header-button {
      background: #f9eb9b;
      color: #04918b;
      border: none;
      border-radius: 10px;
      padding: 25px;
      font-weight: bolder;
      font-size: 20px;
      position: absolute;
      bottom: 30%;
      right: 28%;
    }
    .home-header-image {
      width: 100%;
      max-height: 70vh;
      object-fit: cover;
    }

    .home-header-text {
      position: absolute;
      color: #b6ffcb;
      text-shadow: 3px 3px 8px rgb(245, 234, 234);
      padding: 0 95px 0 155px;
      font-size: 120px;
      top: 10%;
      left: 10%;
    }
  }

  .home-content-title {
    font-size: 50px;
    margin: 50px 0 0 0;
    text-align: center;
  }
  .home-content {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
}
