.navbar {
  background: #fce49e;
  font-size: 1.5rem;
  padding: 0;
  #logo {
    font-family: "Lobster Two", cursive;
    color: white;
    padding: 0 36px;
    border-radius: 67px 0 0 0;
    background:linear-gradient(90deg, rgba(39,138,135,1) 0%, rgba(162,255,230,1) 81%, rgba(249,235,155,1) 100%);
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 6px;
  }
}
